/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   index.css                                          :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: tde-cama <tde-cama@student.42.fr>          +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2022/01/24 18:12:41 by tde-cama          #+#    #+#             */
/*   Updated: 2022/01/24 18:20:31 by tde-cama         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}
